pkgbase = antigravity
	pkgdesc = An agentic development platform from Google, evolving the IDE into the agent-first era.
	pkgver = 1.11.17
	pkgrel = 2
	url = https://antigravity.google/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = shared-mime-info
	depends = systemd-libs
	options = !strip
	options = !debug
	source_aarch64 = Antigravity-1.11.17-aarch64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.11.17-1765244394_arm64_3598920248a8fb4e1e2d36f385f131c7.deb
	sha256sums_aarch64 = 62821f4127e0bee8cba2cd100c30891cd672264d45e73b060f8a437ede748a58
	b2sums_aarch64 = 6003b7aaf42c8e67eed5249e82b92fc395b72af8350063a9fe0225c014e81c5e56c8ecf0c6025db55e4c5980656da39603ae9bcddafca90d7d82d04fc7588210
	source_x86_64 = Antigravity-1.11.17-x86_64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.11.17-1765244408_amd64_9df0712156d4f7f37ea353feaa9633ca.deb
	sha256sums_x86_64 = f5b61a4d00354f846e8850a2da9e87b7e204298f0f5cfa0365ede7207c7fc897
	b2sums_x86_64 = c2e5d024d0374d3676780dbccbd7ff31dd87ee3798f1cec3da7daca87fdf48a4eb2c3d266d6d89089a2e8d3ef8e8dda45b1a03e722ef5713168f23d421631052

pkgname = antigravity
