pkgbase = antigravity
	pkgdesc = An agentic development platform from Google, evolving the IDE into the agent-first era.
	pkgver = 1.13.3
	pkgrel = 1
	url = https://antigravity.google/
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	options = !strip
	options = !debug
	source_aarch64 = Antigravity-1.13.3-aarch64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.13.3-1766182168_arm64_940bc88042cadeaee51d9b1eedf6a506.deb
	sha256sums_aarch64 = 9d4d5a0f4dc39514a8841e726bf032e19f8baf42310ed11531cd95d43922c14e
	b2sums_aarch64 = b77141c125a785d937e1ea74aad9baa842008e849330130335592ff47c4f701bd6faa20a7bce5611882cc4d6578bcae16d0122ab86403153272f84fa21bb8e30
	source_x86_64 = Antigravity-1.13.3-x86_64.deb::https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/pool/antigravity-debian/antigravity_1.13.3-1766182170_amd64_365061c50063f9bd47a9ff88432261b8.deb
	sha256sums_x86_64 = d9920f9e0788245b1dab0f73a607b4eea00605bfb70e16795da1c1ac89eabd4b
	b2sums_x86_64 = ac9a11ee619b795d854383351401265fd1b8e08e74f0487c5b55985974cef90773c6c94c4968eb7ea10b2710e8579af0a8288ef448050d10878da4b08f786734

pkgname = antigravity
