name: Build and Publish Conda Package

on:
  push:
    branches:
      - main
      - master
    tags:
      - "v*"
  pull_request:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          recipe-path: recipe.yaml
      - name: Upload to prefix.dev
        if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        env:
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
        run: rattler-build upload prefix --channel nandi-testing output/**/*.conda
