name: Build and Publish (Push)

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          recipe-path: recipe.yaml
      - name: Upload to prefix.dev
        env:
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
        run: |
          rattler-build upload prefix --channel nandi-testing -- --force output/**/*.conda
